@import "tailwindcss";



@font-face {
  font-family: 'noodle';
  src: url('/assets/fonts/big_noodle_titling.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/static/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



:root {
  --background: #181818;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* opacity: 0.3; */
  font-family: 'noodle';
}

 button:hover:not(header){
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */);
    transition-duration: var(--tw-duration, var(--default-transition-duration) /* 150ms */);
    --tw-duration: 500ms;
    transition-duration: 500ms;
}

tr td{
  padding: 3px 6px;
}

.nunito {
  font-family: 'Nunito';
}

.noodle {
  font-family: 'noodle';
}

.glow-effect {
    @apply transition-shadow duration-300 ease-in-out; /* Tailwind transition classes */
    box-shadow: 0 0 15px rgba(0, 255, 255, 1), inset 0 0 10px rgba(0, 255, 255, 0.5); /* Outer and inner glow */
}

.glow-effect:hover {
    @apply transition-shadow duration-300 ease-in-out;
    box-shadow: 0 0 30px rgba(0, 255, 255, 1), inset 0 0 20px rgba(0, 255, 255, 0.7); /* Hover effect */
}